\.vs*
*.sln
*.vcxproj
*.filters
*.user
*.enc
*.DS_Store
*.plist
Project/Build/*
VulkanProject
*.pbxproj
*.xcbkptlist
*.xcuserstate
*.xcworkspacedata
*.ini
*.spv
*.spv
Project/assets/shaders/fragment.spv
Project/assets/shaders/vertex.spv

Project/Results/
