\.vs*
*.sln
*.vcxproj
*.filters
*.user
*.enc
*.DS_Store
*.plist
Project/Build/bin/Debug-macosx-x86_64/VulkanProject/VulkanProject
Project/Build/bin/Debug-macosx-x86_64/VulkanProject/VulkanProject.dSYM/Contents/Resources/DWARF/VulkanProject
*.pbxproj
*.xcbkptlist
*.xcuserstate
*.xcworkspacedata
